<!doctype html>
<html lang="en">
  <head>
    <title>Nvlp</title>
    <link href="https://cdn.rawgit.com/murtaugh/HTML5-Reset/master/assets/css/reset.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= if @conn.assigns[:current_user] do %>
      <script type="text/javascript">window.apiToken = "<%= Nvlp.Plugs.Authenticated.api_token %>"</script>
    <% end %>
  </head>
  <head>
  <body>
    <div id="root">
      <%=  render @view_module, @view_template, assigns %>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
